<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static "basecss.css" %}">
  <link rel="stylesheet" href="{% static "btncss.css" %}">

</head>
<body>
  <header class="my-2">
    <div class="container my-3">
      <div class="row d-flex justify-content-center">
        <a href="{% url "articles:index" %}"><img src="{% static "logo.png" %}" alt="logo" class="mt-3" style="height: 80px;" ></a>
      </div>
      <div class="row d-flex justify-content-center" style="height:30px;">
        <nav class="navbar navbar-expand my-2">
            <div class="navbar d-block">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-5">
                  <a class="nav-link nav en" aria-current="page" href="{% url "articles:myinfo" %}">My_info</a>
                </li>
                <li class="nav-item mx-5">
                  <a class="nav-link nav en" aria-current="page" href="{% url "articles:skills" %}">Skills</a>
                </li>
                <li class="nav-item mx-5">
                  <a class="nav-link nav en" aria-current="page" href="{% url "articles:project" %}">Projects</a>
                </li>
              </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <br><br><br>

  {% block content %}
  
  {% endblock content %}

  <footer style="height:100px; width:100%; background-color: #3f3d3c;">
    <div class="h-100 d-flex justify-content-center pt-3">
      <span class="text-white en pt-3">suhrin@naver.com</span>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
